.navButton {
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	height: 28px;
	width: 28px;
	margin: 22px;
}

.icon {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
}
